# macOS
.DS_Store

# Dependencies
node_modules

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# App Artifacts
*.log
.next
app
dist

# Dev Storage
.nftworlds
