@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-ExtraThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-ExtraThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-ThinItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-DemiItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  ascent-override: 100%;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./MaisonNeue-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-ExtraThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-ExtraThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-ThinItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-DemiItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Extended';
  src: url('./MaisonNeueExtended-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('./MaisonNeueMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('./MaisonNeueMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('./MaisonNeueMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('./MaisonNeueMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
