@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-darken: rgb(0 0 0 / 40%);
  --bg-gradient: linear-gradient();
  --bg-image: url('~/assets/images/background.png');
  --background: var(--bg-darken) var(--bg-image);

  --pad: 5rem;
  --card-width: 275px;

  --blur-amount: 10px;
  --blur-amount-fix: calc(var(--blur-amount) + 0.01px);
}

#background {
  position: relative;
  background: var(--background);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;

  z-index: 0;
}

#background::after {
  content: ' ';
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background:
    linear-gradient(rgb(0 0 0 / 40%), transparent 10%),
    linear-gradient(transparent 90%, rgb(0 0 0 / 75%));

  z-index: -1;
}
